@use '../utilities' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: var(--main-bg);
  background-image: url('/images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;

  color: var(--text-color);
}
