@use '../utilities/' as *;
.footer {
  display: flex;
  justify-content: center;
  gap: rem(10);

  &__icon {
    width: rem(28);
    height: rem(28);
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      border: solid 1px var(--hover-bg);
      color: var(--hover-bg);
    }
  }

  @include breakpoint-up(large) {
    margin-left: auto;

    &__icon {
      width: rem(41);
      height: rem(41);
    }
  }
}
