@use '../utilities/' as *;

.header {
  margin-bottom: rem(65);

  .logo {
    max-width: rem(150);

    & img {
      width: 100%;
      height: auto;
    }
  }

  @include breakpoint-up(medium) {
    .logo {
      max-width: rem(207);
    }
  }

  @include breakpoint-up(large) {
    margin-bottom: rem(63);
  }
}
